h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
  color: white;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 3rem;
}

.phone {
  -webkit-transform:rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}

.container-fluid {
  padding: 3% 15% 3% 15%;
}

#title {
  background-color: #ff4c68;
}
