body {
  margin: 0;
  text-align: center;
  background-color: #98d4f5;
}

h1 {
  margin: 0;
}


.bottom-cloud{
  position: absolute;
  right: 900px;
}

.top-cloud {
  position: relative;
  left: 200px;
}
